<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css">
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>


<style>
    #map {
        height: 1000px;
    }

</style>

<div id="map"></div>


<script>
    // center of the map
var center = [45.85382197418931, 6.1867026153450935];

// Create the map
var map = L.map('map', {
    minZoom: 0,
    maxZoom: 15
}).setView(center, 10);

// Set up the OSM layer
L.tileLayer(
  'https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 16
  }).addTo(map);
  
// L.tileLayer(
//   'http://127.0.0.1/terrainserver/sentinel2tiles/100/2024-11-01/2024-11-05/{z}/{x}/{y}.jpg', {
//     maxZoom: 16,
//     minZoom: 0
//   }).addTo(map);
  
  L.tileLayer(
  'https://livesat.reliefmaps.io/mosaicjson/tiles/WebMercatorQuad/{z}/{x}/{y}@1x?pixel_selection=first&url=https://mapproxy.reliefmaps.io/terrainserver/sentinelmosaic/33_22_100_2024-10-14_2024-11-11.json', {
    maxZoom: 15,
    minZoom: 8
  }).addTo(map);
  // https://zwnfamrfe6arrvc6alqoxasemm0hovzo.lambda-url.eu-central-1.on.aws/mosaicjson/tiles/WebMercatorQuad/11/1059/729@1x?pixel_selection=first&url=https://mapproxy.reliefmaps.io/terrainserver/sentinelmosaic/529_364_100_2024-10-14_2024-10-21.json&tile_format=webp
  // L.tileLayer(
  // 'https://zwnfamrfe6arrvc6alqoxasemm0hovzo.lambda-url.eu-central-1.on.aws/mosaicjson/tiles/WebMercatorQuad/{z}/{x}/{y}@1x?pixel_selection=first&url=https://mapproxy.reliefmaps.io/terrainserver/sentinelmosaic/529_364_100_2024-10-14_2024-10-21.json&tile_format=webp', {
  //   maxZoom: 15,
  //   minZoom: 11
  // }).addTo(map);
  
  // L.tileLayer(
  // 'http://titiler.xyz/mosaicjson/tiles/WebMercatorQuad/{z}/{x}/{y}@1x?pixel_selection=first&url=https://mapproxy.reliefmaps.io/terrainserver/sentinelmosaic/33_22_100_2024-10-14_2024-11-11.json&tile_format=webp', {
  //   maxZoom: 15,
  //   minZoom: 11
  // }).addTo(map);


</script>
